<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" />
<script type="text/javascript"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_5P3OqT9RoFIOnVviL9ndddYQ2j-xe3E&callback=initMap">
</script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

<div class="container">
    <div id="formatted-address"></div>
    <div id="lat-lng"></div>
    <form id="location-form">
        <input id="location-input" class="form-control form-control-lg" type="text">Hostel Name 
        <br>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
    <div id="map" style="width: 75%; height: 530px;"></div>
</div>

<script>
    //get name of place from location form submission
    var locationForm = document.getElementById('location-form')
    locationForm.addEventListener('submit', getAddress)

    //run steps to get address
    function getAddress (e){

        //Prevent submit from happening until after you click
        e.preventDefault();

        //use location from form submission
        var location = document.getElementById('location-input').value

        //link axios to handle the get requests for you/connect to the API
        axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
            params:{
                //from above - passed in as argument
                address: location,
                //google maps API
                key: 'AIzaSyC_5P3OqT9RoFIOnVviL9ndddYQ2j-xe3E',   
            }
        })


        .then(function(response){

            //formatted address
            var formattedAddress = response.data.results[0].formatted_address;

            var formattedAddressOutput = `
                <ul class="list-group">
                    <li class="list-group-item">${formattedAddress}</li>
                </ul>
            `;

            //Geometry - lattitude and longitude
            var lat = response.data.results[0].geometry.location.lat
            var lng = response.data.results[0].geometry.location.lng
            var geometryOutput = `
            <ul class="list-group">
                    <li class="list-group-item"><strong>Latitude</strong>${lat}</li>
                    <li class="list-group-item"><strong>Longitude</strong>${lng}</li>
                </ul>
            `;

            //output to app
            document.getElementById('formatted-address').innerHTML = formattedAddressOutput;

            document.getElementById('lat-lng').innerHTML = geometryOutput;
        })
        //if something goes wrong console log it
        .catch(function(error){
            console.log(error)
        })
    }
</script>

<script>

//show the actual map
let map;

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 15.87037, lng: -97.07726 },
    zoom: 14,
  });
}

//run it on window load
window.initMap = initMap;
</script>