<!-- 
<script>
    //get name of place from location form submission
    var hostelForm = document.getElementById('hostelForm')

    hostelForm.addEventListener('submit', getAddress)

    //run steps to get address
    function getAddress (){

        //Prevent submit from happening until after you click
        //e.preventDefault();

        //use location from form submission
        var location = document.getElementById('hostelName').value

        //link axios to handle the get requests for you/connect to the API
        axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
            params:{
                //from above - passed in as argument
                address: location,
                //google maps API
                key: GOOGLE_KEY,   
            }
        })


        .then(function(response){

            //formatted address
            var formattedAddress = response.data.results[0].formatted_address;

            // var formattedAddressOutput = `
            //     <ul class="list-group">
            //         <li class="list-group-item">${formattedAddress}</li>
            //     </ul>
            // `;

            //Geometry - lattitude and longitude
            var lat = response.data.results[0].geometry.location.lat
            var lng = response.data.results[0].geometry.location.lng

            var coordinates = [lat, lng]
            // var geometryOutput = `
            // <ul class="list-group">
            //         <li class="list-group-item"><strong>Latitude</strong>${lat}</li>
            //         <li class="list-group-item"><strong>Longitude</strong>${lng}</li>
            //     </ul>
            // `;

            //output to app
            // document.getElementById('formatted-address').innerHTML = formattedAddressOutput;

            // document.getElementById('lat-lng').innerHTML = geometryOutput;
        })
        //if something goes wrong console log it
        .catch(function(error){
            console.log(error)
        })
    }
</script> -->

<script>

    //initialize the actual map
    let map;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 15.87037, lng: -97.07726 },
            zoom: 14,
        });
    }
    const eqfeed_callback = function(myHostels) {
        for (let i = 0; i < myHostels.features.length; i++) {
            const coords = myHostels.features[i].geometry.coordinates;
            const latLng = new google.maps.LatLng(coords[1], coords[0]);
            const title = myHostels.features[i].properties.name

            new google.maps.Marker({
                position: latLng,
                map: map,
                title: title,
            });
        }
    }

    //run it on window load
    window.initMap = initMap;
    window.eqfeed_callback = eqfeed_callback;

    let myHostels = {
        "type": "FeatureCollection",
        "features":
            [{
                "type": "Feature",
                "properties": {
                    "name": "Vivo Escondido",
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.0788323879242,
                        15.862872024938756
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "name": "Shalom"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.07559764385223,
                        15.861654229715937
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "name": "Zion Hostel & Bungalows"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.0846152305603,
                        15.864838026280848
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "name": "Napelero Hostel"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.07742691040039,
                        15.86873901154986
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "name": "Tower Bridge Hostel"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.08043098449707,
                        15.868914450912325
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "name": "Chez Gomez"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.08293080329894,
                        15.86598356153021
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "name": "Casa Losodeli"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.07696557044983,
                        15.862526295686672
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "name": "Paziflora Hostel"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.07068920135498,
                        15.861081450606223
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": { "name": "Casa Santaella" },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.070871591568,
                        15.866623407214531
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": { "name": "Residencia Artistica" },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.07250237464905,
                        15.867087810068297
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "name": "Puerto Dreams"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.07285642623901,
                        15.868790611378197
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "name": "Casona Puerto Dreams"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.07966923713683,
                        15.87009092269141
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "name": "Selina Puerto Escondido"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.05803990364075,
                        15.856850059036839
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "name": "Hostel Mandala"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.05756783485413,
                        15.856385632604704
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "name": "Huitzilin Hostal"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -97.05261647701262,
                        15.851823876156457
                    ]
                }
            }
            ]
    }

</script>