<%- include('partials/header') -%>

<div class="hero h-fit p-24 bg-slate-100">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="https://images.pexels.com/photos/4907181/pexels-photo-4907181.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="max-w-sm  rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl p-10 text-center font-bold">Where will you <br> sleep tonight?</h1>
        <p class="py-6">Check out the list of hostels you have stayed at before, <br> or sneak a peak at where your friends have recently stayed</p>
        <div class="flex pt-6 w-100% justify-content-center gap-7">
          <a href="/pastTrips" class="btn md:btn-md lg:btn-lg btn-accent">Past Trips</a>
          <a href="/feed" class="btn md:btn-md lg:btn-lg btn-accent ">Friend Stays</a>
      </div>
      
      </div>
      
      </div>
    </div>
    <div class="hero h-fit p-16 bg-slate-200">
    <div class=" flex-col lg:flex-row  text-center">
      <img src="https://images.pexels.com/photos/1051075/pexels-photo-1051075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="max-w-sm rounded-lg shadow-2xl mb-10" alt="">
      <a href="/addTrip" class="btn md:btn-md lg:btn-lg btn-accent">Mark a new stay</a>
  </div>
  </div>
</div>
  
<%- include('partials/footer') -%>